*{
	margin:0;
	padding:0;
}

/*-----------------------------fondo menu nav principal*/
.container{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.menu-azul{
	background-color: #5F9EA0;
}
/*------------------------------------logo*/
div div div p{
	font-family:'Baloo Paaji', cursive;
	font-size: 40px;
}

/*-----menu de navegacion pincipal------*/
nav{
	padding:20px;
    width:950px;
    overflow:hidden;
}
nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}
nav ul li{
	-webkit-border-radius:5px;
	float:left;
	font-family:Arial;
	margin-right:10px;
	text-align:center;
}
nav ul li a {
	
	padding: 10px 10px;
	display: block;
	color:#fff;
	text-decoration: none;
}
nav ul li a:hover {
    color:#000;
}
/*--------------------------------------------header conejo grande--*/

.cja-conejo{
    background-image: url(../img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    margin-bottom: 20px;
    }   
.cja-semi-transp{    
	background-color: rgba(68, 120, 157, 0.75);
	width: 75%;
	height: 300px;
	text-align: center;
	position:relative;
	top:60px;
	margin-left: auto;
	margin-right: auto;
}
.cja-semi-transp h2{
	font-family:'Baloo Paaji', cursive;
	font-size: 80px;
	color:LightCoral;
}
 ul li{
 	font-family: arial;
	list-style:none;
	text-align: center;
	display: inline-block;
}



